$mainGreen:#33CA7F;
$mainBlue:#7DCFB6;
$mainBeige:#FC9F5B;
$lightBeige:#FBD1A2;
$lightestBeige:#ECE4B7;

p{
    margin:5;
}
input{
    background-color: rgba(255,255,255,.25);
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid white;
    margin-bottom:5px;
}
input:focus{
    border-bottom:7px solid rgba(255,0,0,.25);
    margin-bottom:0px;
}
.btn{
    border-bottom-width: 3px;
}
body{
    background-color: $lightestBeige;
}
.green{
    background-color: $mainGreen;
}
.beige{
    background-color: $mainBeige;
}
.blue{
    background-color: $mainBlue;
}
.white{
    color:white;
}
#mainHeader{
    height:10vh;
    border-bottom:inset 10px $mainBlue;
}
#mainHeader div{
    width:10%;
}
.flexIn{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.flexInDown{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    color:white;
}
#mainLogin{
    margin:20px;
    border-radius:25px;
}
.danger{
    color:red;
}
#cmsContainer{
    margin:20px;
    border-radius:25px;
}
.centerText{
    text-align: center;
}
.mainButtonsCon{
    border-radius:5px;
    padding:10px;
}
.filterButtonsCon{
    padding:10px;
}
.filterButtonsCon a{
    padding:10px;
    margin:5px;
}
.postSec{
    display: none;
}
.hov:hover{
    margin-top:0px!important;
}
.collapser{
    transition:.2s;
}
.collapse{
    padding:0px;
    height:0px;
    overflow: hidden;
}