$mainGreen:#33CA7F;
$mainBlue:#7DCFB6;
$mainBeige:#FC9F5B;
$lightBeige:#FBD1A2;
$lightestBeige:#ECE4B7;

p{
    margin:5;
}
body{
    background-color: $lightestBeige;
}
.green{
    background-color: $mainGreen;
}
.beige{
    background-color: $mainBeige;
}
#mainHeader{
    height:10vh;
    border-bottom:inset 10px $mainBlue;
}
#mainHeader div{
    width:10%;
}
.flexIn{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.flexInDown{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    color:white;
}
#mainLogin{
    margin:20px;
    border-radius:25px;
}
.danger{
    color:red;
}
#cmsContainer{
    margin:20px;
    border-radius:25px;
}
.centerText{
    text-align: center;
}